@page
@model ukol_15_3_2018.PasswordReset


<h1>ForgotPassword</h1>
<form asp-route-returnUrl="@Model.ReturnUrl">
    <div class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send code to reset password</button>
</form>

